@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&family=DM+Sans:wght@300;400;500&display=swap');

@import "tailwindcss";

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
  border: none;
  min-height: 100svh;
}

.font-sora {
  font-family: 'Sora', sans-serif;
}
